@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .max-width {
    @apply max-w-[75rem];
  }

  .padding-x {
    @apply px-5;
  }

  .margin-top-sm {
    @apply mt-10 xl:mt-8;
  }

  .margin-top-md {
    @apply mt-12 xl:mt-20;
  }

  .img-gradient {
    /* applied on images in <ExploreSection />  */
    @apply absolute left-0 top-0 z-10 h-full w-full bg-gradient-to-b from-[#f6f6fd00] to-[#303030ff];
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
